<div id="articles"></div>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header"></div>
        <div class="modal-body">
            <p>
                <a></a>
            </p>
            <form>
                <label for="title">Title:</label>
                <input type="text" name="title" id="titleInput">
                <label for="body">Body:</label>
                <textarea type="text" name="body" id="bodyInput"></textarea>
                <button class="save-note">SAVE NOTE</button>
            </form>
        </div>
        <button class="close">CLOSE</button>
        <button class="delete-note">DELETE NOTE</button>
    </div>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/saved.js"></script>